.button {
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.button.primary {
    background-color: var(--link-color);
    color: white;
}

.button.primary:hover {
    background-color: var(--link-hover-color);
}

.button.primary:disabled {
    background-color: var(--disabled-color);
}

.text-link {
    width: fit-content;
    display: inline !important;
    color: var(--link-color) !important;
}

.text-link:hover {
    color: var(--link-hover-color) !important;
    text-decoration: underline !important;
}
