.primary {
    background-color: var(--background-color);
    color: var(--text-color);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    margin: 20px 0;
}

.page-heading {
    margin: 1rem 0;
    font-size: 22px;
    font-weight: bold;
}